{# SEO Meta Tags Partial #}
{# Configuration from Settings plugin aero/clouds #}
<?php
function onStart() {
    try {
        $this['settings'] = \Aero\Clouds\Models\Setting::getCurrentSettings();
    } catch (\Exception $e) {
        $this['settings'] = null;
    }
}
?>
{% set siteName = settings ? settings.site_name : 'Clouds Hosting' %}
{% set siteDescription = settings ? settings.site_description : 'Professional hosting in Bolivia' %}
{% set metaKeywords = settings ? settings.meta_keywords : 'hosting, cloud, vps, domains, bolivia' %}
{% set metaAuthor = settings ? settings.meta_author : 'Clouds' %}
{% set ogType = settings ? settings.og_type : 'website' %}
{% set twitterCardType = settings ? settings.twitter_card_type : 'summary_large_image' %}

{# Use page description if exists, otherwise use global #}
{% set pageDescription = this.page.meta_description | default(siteDescription) %}
{% set pageTitle = this.page.title %}
{% set fullTitle = pageTitle ~ ' - ' ~ siteName %}

<!-- SEO Meta Tags -->
<title>{{ fullTitle }}</title>
<meta name="description" content="{{ pageDescription }}">
<meta name="keywords" content="{{ metaKeywords }}">
<meta name="author" content="{{ metaAuthor }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ ogType }}">
<meta property="og:title" content="{{ fullTitle }}">
<meta property="og:description" content="{{ pageDescription }}">
<meta property="og:url" content="{{ request.url }}">
<meta property="og:site_name" content="{{ siteName }}">
{% if settings and settings.og_image %}
<meta property="og:image" content="{{ settings.og_image.path }}">
{% else %}
<meta property="og:image" content="{{ 'themes/master/assets/images/og-image.jpg' | theme }}">
{% endif %}

<!-- Twitter -->
<meta name="twitter:card" content="{{ twitterCardType }}">
<meta name="twitter:title" content="{{ fullTitle }}">
<meta name="twitter:description" content="{{ pageDescription }}">
{% if settings and settings.twitter_image %}
<meta name="twitter:image" content="{{ settings.twitter_image.path }}">
{% else %}
<meta name="twitter:image" content="{{ 'themes/master/assets/images/twitter-image.jpg' | theme }}">
{% endif %}

<!-- Favicon -->
{% if settings and settings.favicon %}
<link rel="icon" type="image/png" href="{{ settings.favicon.path }}">
<link rel="apple-touch-icon" href="{{ settings.favicon.path }}">
{% endif %}

<!-- Google Analytics -->
{% if settings and settings.google_analytics_id %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.google_analytics_id }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ settings.google_analytics_id }}');
</script>
{% endif %}

<!-- Google Tag Manager -->
{% if settings and settings.google_tag_manager_id %}
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ settings.google_tag_manager_id }}');</script>
{% endif %}
